body{
    background-color: rgb(184, 170, 170);
}

.container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items:center; 

}

.header,
.home-button{
    background-color: white;
    border-radius: 15px;
}
    
.header{
    flex: 1;
    padding: 10px;
    width:650px;
}

.home-button{
    padding: 20px;
}

.body-container{
    display: flex;
}

.pizza{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.body-pizza{
    text-align:justify;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 30px;
}

.instructions-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ingredients,
.steps{
    text-align: center;
}