body {
    background-color: rgb(184, 170, 170);
}

.container {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin:10px;
    flex: 1;
}

.title {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    
}

.body-background {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
}

.span{
    font-weight: bold;
    font-style: italic;
}

.images-container {
    display: flex;
    justify-content: space-around;
}

#images{
    border-radius: 15px;
    height:200px;
    width: 200px;
}