body {
    background-color: rgb(184, 170, 170);
}

.title {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin:10px;
}

.body-background {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin:10px;
}

.body-text{
    margin:20px;
}

.span{
    font-weight: bold;
    font-style: italic;
}

#images{
    border-radius: 15px;
    height:200px;
    width: 200px;
    margin-inline: 20px;
}