
body{
    background-color: rgb(184, 170, 170);
}

.title {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 600px;
    display: inline-block;

}

.home-button{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}